html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Universal Styles */
html {
    font-family: 'Helvetica', sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

/* Header */
header .content{
    display: flex;
    width: 100%;
    height: 3.13rem;
    border-bottom: 1px solid seashell;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 1;
}

header .logo img{
    height: 2.27rem;
    width: auto;
    margin-left: 0.45rem;
}

nav {
    text-decoration: underline;
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: space-between;
}

nav a{
    color: seashell;
    margin-right: 0.25rem;
}

@media only screen and (max-width: 760px){
    nav {
        width: 300px;
    }
    nav a {
        font-size: 20px;
    }
}

#mission {
    height: 31.81rem;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 3.13rem;
}

#mission .content {
    position: relative;
    top: 50%;
    background-color: black;
}

#mission .content h2{
    font-size: 1.55rem;
    font-weight: bolder;
    margin-bottom: 10px;
    padding-top: 5px;
}

#mission .content h4{
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.4;
    padding-bottom: 5px;
}

@media only screen and (max-width:760px){
    #mission{
        height: 25rem;
        text-align: center;
    }

    #mission .content{
        top: 45%;
    }
    #mission .content h2{
        font-size: 1rem;
        font-weight: bold;
    }

    #mission .content h4 {
        font-size: 0.75rem;
        font-weight: bold;
    }
}

/* Featured Teas */ 
#featured_tea{
    max-width: 45.45rem;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 4rem;
}

#featured_tea .content{
    margin: 1rem 0;
}
#featured_tea .content h2{
    margin: 1rem 0;
    font-size: 1.55rem;
    font-weight: bolder;
}

#featured_tea .content h4{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: bold;
}

#featured_tea .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

#featured_tea .container img {
    height: 9.09rem;
    width: 13.63rem;
    border-radius: 0.1rem;
    margin-bottom: 0.5rem;
}

#featured_tea .container figure{
    margin: 0.75rem;
    flex-shrink: 2;
}

#featured_tea figure figcaption{
    font-weight: bold;
}

@media only screen and (max-width:760px){
    #featured_tea {
        top: 3rem;
    }
    #featured_tea .content h2{
        font-size: 1.25rem;
        font-weight: bold;
        margin:0;
    }
    #featured_tea .content h4{
        font-size: 0.85rem;
        font-weight: bold;
        line-height: 1.2;
        margin:0;
    }
    #featured_tea .container img {
        margin: 0;
    }
    #featured_tea figure figcaption{
        font-size: 0.95rem;
        font-weight: bold;
    }
    #featured_tea .container figure{
        margin: 0.5rem;
    }
}

/* Locations */
#locations {
    height: 25.72rem;
    margin: 0 0.95rem;
    position: relative;
    top: 7rem;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#locations .content h2 {
    margin-bottom: 0.681rem;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 4rem;
    font-size: 1.55rem;
    font-weight: bolder;
    margin-bottom: 0.63rem;
}

#locations .main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20%;
}

#locations .main-container .container {
    background-color: black;
    margin:0 1rem;
    width: 13.63rem;
    height: 11.36rem;
    opacity:1;
    border-radius: 0.15rem;
}

#locations .main-container .container h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0.25rem;
}

#locations .main-container .container p {
    margin: 1.25rem 0;
    line-height: 2.75;
}

@media only screen and (max-width:1000px) {
    #locations .main-container .container {
        margin: 0 0.5rem;
    }
    #locations .main-container .container p {
        line-height: 1.8;
    }
}

@media only screen and (max-width:760px){
    #locations .content h2 {
        top: 20%;
        font-size: 1.75rem;
    }

    #locations .main-container {
        flex-wrap: wrap;
        top: 3%;
    }

    #locations .main-container .container {
        height: 6rem;
        margin-bottom: 1rem;
    }

    #locations .main-container .container h3 {
        margin: 0.25rem;
    }

    #locations .main-container .container p {
        font-size: 0.9rem;
        margin: 0.25rem;
        line-height: 1.2;
    }
}

/* Footer */
footer {
    position: relative;
    top: 7.5rem;
    height: 250px;
}
footer .container{
    height: 9.0rem;
}

footer .container h3 {
    font-size: 1.25rem;
    font-weight: bold;
}

footer .container h5, p {
    font-size: 0.85rem;
    line-height: 3;
}

footer .copyright {
    text-align: left;
    margin-left: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
}

@media only screen and (max-width:760px){
    footer {
        height: 125px;
    }

    footer .container {
        height: 100px;
    }

    footer .container h5, p {
        line-height: 1.4;
    }

    footer .copyright {
        text-align: left;
        margin-left: 0.5rem;
        font-size: 0.8rem;
        font-weight: normal;
    }
}